# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_E1weFcD5YCsp@ep-wandering-waterfall-ai9cg8eu-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


# JWT Configuration
JWT_SECRET=c93afeb6710d2845
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=168

# Better Auth Secret (must match frontend)
BETTER_AUTH_SECRET=3gHSWlEDitVGXMw9B9d1YcXriLhyxltr

# CORS Configuration
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Environment
ENVIRONMENT=development
DEBUG=true
